<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Travel Planner - Udacity Capstone</title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <div class="holder headline">Travel Planner</div>
      <div class="holder destination">
        <label for="destination_city">Destination:</label>
        <input
          type="text"
          id="destination_city"
          placeholder="enter your destination"
        />
      </div>
      <div class="holder departure">
        <label for="date_depart">Date of Departure:</label>
        <input
          type="date"
          id="date_depart"
          placeholder="insert your departure date"
        />
      </div>
      <div class="holder return">
        <label for="date_return">Return Date:</label>
        <input
          type="date"
          id="date_return"
          placeholder="insert your date of arrival"
        />
      </div>
      <button id="remove_btn" type="submit">Remove Journey</button>
      <button id="depart_btn" type="submit">Let's Go!</button>
      <textarea
        class="myInput"
        id="content"
        placeholder="Enter any notes for your trip"
        rows="10"
        cols="50"
      ></textarea>
      <button id="generate" type="submit">Save</button>
    </div>
    <div id="entryHolder">
      <div id="city"></div>
      <div id="weatherforecast"></div>
      <img alt="insert destination image" class="image_destination" />
    </div>
    <div class="holder entry">
      <div class="last_trip">Most Recent Trip</div>
    </div>
  </body>
</html>
